.hoja1{
    width: 90%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    margin-top: 1em;
    border-radius: 5px;
}
.ver2{
    width: 90%;
    border-radius: 5px;
    background-color: #ffff80;
    text-align: center;
    font-weight: 500;
    margin: auto;
    transition-duration: 0.2s;
    cursor: pointer;
}
.ver2:hover{
    background-color: seashell;
}
.cabecera{
    padding: 0.5em;
    padding-left: 2em;
}
.contenido{
    padding: 1em;
    padding-left: 5em;
}
.section_youtube{
    margin-top: 1em;
    width: 90%;
    margin: auto;
}
.video_youtube{
    width: 100%;
    margin: auto;
}
iframe{
    margin: 0.2em;
}
@media only screen and (max-width: 800px)
{
    .video_youtube iframe{
        width: 98%;
    }
}
p{
    font-size: 14pt;
    padding-left: 1em;
    padding: 0.3em;
}
h2{
    background-color: #0080ffc2;
    border-radius: 5px;
}
h4{
    background-color: cornsilk;
}