.hoja1{
    width: 90%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    margin-top: 1em;
    border-radius: 5px;
}
.ver2{
    width: 90%;
    border-radius: 5px;
    background-color: #ffff80;
    text-align: center;
    font-weight: 500;
    margin: auto;
    transition-duration: 0.2s;
    cursor: pointer;
}
.ver2:hover{
    background-color: seashell;
}
.cabecera{
    padding: 0.5em;
    padding-left: 2em;
}
.contenido{
    padding: 1em;
    padding-left: 5em;
}
.video_youtube{
    width: 90%;
    margin: auto;
}
p{
    font-size: 14pt;
    padding-left: 1em;
    padding: 0.3em;
}